<launch>

<!-- Start sim world -->
<include file="$(find tb3_worlds)/launch/tb3_sim_world.launch" />

<!-- Start navigation stack -->
<include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch" >
    <arg name="map_file" value="$(find tb3_worlds)/maps/sim_map.yaml" />
</include>

</launch>